.chat-message
  .chat-message-avatar
  .chat-user-avatar
  .chat-user-avatar-container
  .avatar,
.chat-message .chat-emoji-avatar .chat-emoji-avatar-container {
  height: 35px;
  width: 35px;
}

body.has-sidebar-page.has-full-page-chat #main-outlet-wrapper {
  grid-template-columns: var(--d-sidebar-width) minmax(0, 1fr);
  #main-outlet {
    max-width: unset;
  }
}

.user-card {
  border-radius: 44px;
}

.user-card .card-content {
  border-radius: 40px;
}

.user-card .badge-section .user-badge {
  border-radius: 40px;
}

.user-card .badge-section .more-user-badges a {
  border-radius: 40px;
}

.chat-message-actions .more-buttons.dropdown-select-box .select-kit-header {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.user-menu.revamped .quick-access-panel li:hover, .user-menu.revamped .quick-access-panel li.unread, .user-menu.revamped .quick-access-panel li.pending {
    border-radius: 44px;
}

button.btn-flat {
    border-radius: 44px;
}

.select-kit.single-select.dropdown-select-box .select-kit-row {
    border-radius: 44px;
}

.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body {
    border-radius: 32px;
}

.modal-inner-container {
    border-radius: 40px;
}

.topic-map {
    border-radius: 40px;
}

button.widget-button.btn.no-text.btn-icon[title="expand topic details"], button.widget-button.btn.no-text.btn-icon[title="collapse topic details"] {
    border-radius: 60px;
}

.user-menu.revamped .tabs-list .btn {
    border-radius: 44px;
}

.before-header-panel-outlet+.panel {
    margin-left: auto;
}
