.user-card {
  border-radius: 42px !important;
}

.user-card .card-content {
  border-radius: 40px;
}

.user-card .badge-section .user-badge {
  border-radius: 40px;
}

.user-card .badge-section .more-user-badges a {
  border-radius: 40px;
}

.fk-d-menu__inner-content {
  border-radius: 44px;
}

.chat-message-actions .more-buttons.dropdown-select-box .select-kit-header {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

div.quick-access-panel > :first-child {
    border-radius: 30px;
}

button.btn-flat {
    border-radius: 44px;
}

.select-kit.single-select.dropdown-select-box .select-kit-row {
    border-radius: 44px;
}

.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body {
    border-radius: 32px;
}

.modal-inner-container {
    border-radius: 40px;
}

.topic-map {
    border-radius: 40px;
}

button.widget-button.btn.no-text.btn-icon[title="expand topic details"], button.widget-button.btn.no-text.btn-icon[title="collapse topic details"] {
    border-radius: 60px;
}

.user-menu.revamped .tabs-list .btn {
    border-radius: 44px;
}

.before-header-panel-outlet+.panel {
    margin-left: auto;
}

@media screen and (min-width: 925px) {
    .desktop-view body.has-sidebar-page #main-outlet-wrapper, .desktop-view body #main-outlet-wrapper {
        grid-template-columns: max-content;
        gap: 0 2em;
        #main-outlet {
            max-width: unset;
            width: unset;
            padding-right: 2em;
        }
    }
    .desktop-view .has-sidebar-page .d-header>.wrap .contents {
        grid-template-columns: calc(var(--d-sidebar-width) - 10px) 1fr minmax(0, calc(100vw)) 1fr minmax(0, calc(var(--d-sidebar-width) - 11px));
    }
    .desktop-view .d-header>.wrap .contents {
        grid-template-columns: calc(var(--d-sidebar-width) - 100px) 1fr minmax(0, calc(100vw)) 1fr minmax(0, calc(var(--d-sidebar-width) - 11px));
    }
    .desktop-view #main-outlet>.regular {
        margin: unset;
        max-width: unset;
    }
    .desktop-view .more-topics__container {
        max-width: unset;
    }
    .desktop-view .container.posts {
        justify-content: space-between;
    }
    .desktop-view .topic-body {
        width: 100%;
    }
    .desktop-view .small-action.topic-post-visited .topic-post-visited-line {
        width: 100vw;
    }
    .desktop-view .topic-timer-info {
        border-top: unset;
    }
    .desktop-view .topic-area>.loading-container {
        border-top: 1px solid var(--primary-low);
        width: unset;
    }
    .desktop-view .post-notice {
        max-width: unset;
    }
    .desktop-view .small-action .small-action-desc {
        width: 100%;
    }
    .desktop-view body.has-sidebar-page #main-outlet-wrapper .container.posts>.row {
        width: calc(85vw - var(--d-sidebar-width));
    }
    .desktop-view body #main-outlet-wrapper .container.posts>.row {
        width: 85vw;
    }
}

:not(.card-avatar-placeholder).animated-placeholder.placeholder-animation {
    border-radius: 40px;
}

